# venv
venv/

# config
src/__pycache__/
.idea/

# weight
data/weights/checkpoint
data/weights/nl2sql_finetune.*

# chinese-bert_chinese_wwm_L-12_H-768_A-12
data/chinese-bert_chinese_wwm_L-12_H-768_A-12/bert_config.json
data/chinese-bert_chinese_wwm_L-12_H-768_A-12/bert_model.ckpt.data-00000-of-00001
data/chinese-bert_chinese_wwm_L-12_H-768_A-12/bert_model.ckpt.index
data/chinese-bert_chinese_wwm_L-12_H-768_A-12/bert_model.ckpt.meta
data/chinese-bert_chinese_wwm_L-12_H-768_A-12/vocab.txt

# logs
data/logs/*.json
data/logs/*.log

# result
result.json